<form action="">
  <h1>NOVO TO-DO</h1>

  <div class="calendar">
    <mat-form-field class="date_finished" appearance="fill">
      <mat-label>DATA PARA FINALIZAR</mat-label>
      <input [(ngModel)]="todo.dataParaFinalizar" name="todo.dataParaFinalizar" [min]="minDate" matInput [matDatepicker]="MyDatePicker" disabled>
      <mat-datepicker-toggle matSuffix [for]="MyDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #MyDatePicker disabled="false"></mat-datepicker>
      <mat-error *ngIf="todo.dataParaFinalizar">{{ errorValidTitle() }}</mat-error>
    </mat-form-field>
  </div>

  <div class="forms">
    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Título</mat-label>
      <input [(ngModel)]="todo.titulo" [formControl]="titulo" required name="todo.titulo" maxlength="70" matInput placeholder="Ex. Estudar">
      <mat-error *ngIf="titulo.invalid">{{ errorValidTitle() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Descrição</mat-label>
      <input [(ngModel)]="todo.descricao" name="todo.descricao" maxlength="100" matInput placeholder="Ex. Estudar 4 Horas por dia">
    </mat-form-field>
  </div>
  <div class="actions">
    <button (click)="create()"  [disabled]="errorValidTitle()" mat-raised-button color="primary">CRIAR</button>
    <button (click)="cancel()" mat-raised-button color="warn">CANCELAR</button>
  </div>
</form>